In [1]:
import pandas as pd
df = pd.read_csv('../data/interim/data.csv')

In [30]:
import os

In [14]:
df.head()

,user_id,item_id,rating,timestamp,age,gender,occupation,zip_code,movie_id,movie_title,...,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western,release_unix,age_group
0,196,242,3,881250949,49,M,writer,55105,242,Kolya (1996),...,0,0,0,0,0,0,0,0,854064000.0,46-55
1,305,242,5,886307828,23,M,programmer,94086,242,Kolya (1996),...,0,0,0,0,0,0,0,0,854064000.0,19-25
2,6,242,4,883268170,42,M,executive,98101,242,Kolya (1996),...,0,0,0,0,0,0,0,0,854064000.0,36-45
3,234,242,4,891033261,60,M,retired,94702,242,Kolya (1996),...,0,0,0,0,0,0,0,0,854064000.0,55+
4,63,242,3,875747190,31,M,marketing,75240,242,Kolya (1996),...,0,0,0,0,0,0,0,0,854064000.0,26-35

In [2]:
# age group is redundant because there is simply age column, it is an artefact form data_exploration
# item_id is duplicate of movie_id
# elaboration about zip_code, movie_title, IMDb_URL are in report
df = df.drop(columns=['zip_code', 'movie_title', 'age_group', 'item_id', 'IMDb_URL'], axis=1)

In [16]:
df.head()

,user_id,rating,timestamp,age,gender,occupation,movie_id,unknown,Action,Adventure,...,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western,release_unix
0,196,3,881250949,49,M,writer,242,0,0,0,...,0,0,0,0,0,0,0,0,0,854064000.0
1,305,5,886307828,23,M,programmer,242,0,0,0,...,0,0,0,0,0,0,0,0,0,854064000.0
2,6,4,883268170,42,M,executive,242,0,0,0,...,0,0,0,0,0,0,0,0,0,854064000.0
3,234,4,891033261,60,M,retired,242,0,0,0,...,0,0,0,0,0,0,0,0,0,854064000.0
4,63,3,875747190,31,M,marketing,242,0,0,0,...,0,0,0,0,0,0,0,0,0,854064000.0

In [3]:
df = pd.get_dummies(df, columns=['gender', 'occupation'])

In [18]:
df.head()

,user_id,rating,timestamp,age,movie_id,unknown,Action,Adventure,Animation,Children,...,occupation_marketing,occupation_none,occupation_other,occupation_programmer,occupation_retired,occupation_salesman,occupation_scientist,occupation_student,occupation_technician,occupation_writer
0,196,3,881250949,49,242,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True
1,305,5,886307828,23,242,0,0,0,0,0,...,False,False,False,True,False,False,False,False,False,False
2,6,4,883268170,42,242,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
3,234,4,891033261,60,242,0,0,0,0,0,...,False,False,False,False,True,False,False,False,False,False
4,63,3,875747190,31,242,0,0,0,0,0,...,True,False,False,False,False,False,False,False,False,False

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   user_id                   100000 non-null  int64
 1   rating                    100000 non-null  int64
 2   timestamp                 100000 non-null  int64
 3   age                       100000 non-null  int64
 4   movie_id                  100000 non-null  int64
 5   unknown                   100000 non-null  int64
 6   Action                    100000 non-null  int64
 7   Adventure                 100000 non-null  int64
 8   Animation                 100000 non-null  int64
 9   Children                  100000 non-null  int64
 10  Comedy                    100000 non-null  int64
 11  Crime                     100000 non-null  int64
 12  Documentary               100000 non-null  int64
 13  Drama                     100000 non-null  int64
 14  Fantasy                   100000 non-null  int64
 15  Film_Noir                 100000 non-null  int64
 16  Horror                    100000 non-null  int64
 17  Musical                   100000 non-null  int64
 18  Mystery                   100000 non-null  int64
 19  Romance                   100000 non-null  int64
 20  Sci_Fi                    100000 non-null  int64
 21  Thriller                  100000 non-null  int64
 22  War                       100000 non-null  int64
 23  Western                   100000 non-null  int64
 24  release_unix              100000 non-null  float64
 25  gender_F                  100000 non-null  bool
 26  gender_M                  100000 non-null  bool
 27  occupation_administrator  100000 non-null  bool
 28  occupation_artist         100000 non-null  bool
 29  occupation_doctor         100000 non-null  bool
 30  occupation_educator       100000 non-null  bool
 31  occupation_engineer       100000 non-null  bool
 32  occupation_entertainment  100000 non-null  bool
 33  occupation_executive      100000 non-null  bool
 34  occupation_healthcare     100000 non-null  bool
 35  occupation_homemaker      100000 non-null  bool
 36  occupation_lawyer         100000 non-null  bool
 37  occupation_librarian      100000 non-null  bool
 38  occupation_marketing      100000 non-null  bool
 39  occupation_none           100000 non-null  bool
 40  occupation_other          100000 non-null  bool
 41  occupation_programmer     100000 non-null  bool
 42  occupation_retired        100000 non-null  bool
 43  occupation_salesman       100000 non-null  bool
 44  occupation_scientist      100000 non-null  bool
 45  occupation_student        100000 non-null  bool
 46  occupation_technician     100000 non-null  bool
 47  occupation_writer         100000 non-null  bool
dtypes: bool(23), float64(1), int64(24)
memory usage: 21.3 MB

In [4]:
from sklearn.model_selection import train_test_split

# Stratified Sampling ensures that the distribution of classes (in this case, ratings) is maintained in both the training and testing datasets.
train, test = train_test_split(df, test_size=0.2, stratify=df['rating'], random_state=42)

In [5]:
from sklearn.preprocessing import MinMaxScaler
# Normalization is the process of scaling numerical features to a standard range, often between 0 and 1.
scaler = MinMaxScaler()
df['age_normalized'] = scaler.fit_transform(df[['age']])

In [23]:
train

,user_id,rating,timestamp,age,movie_id,unknown,Action,Adventure,Animation,Children,...,occupation_none,occupation_other,occupation_programmer,occupation_retired,occupation_salesman,occupation_scientist,occupation_student,occupation_technician,occupation_writer,age_normalized
22854,198,4,884207136,21,176,0,1,0,0,0,...,False,False,False,False,False,False,True,False,False,0.212121
60530,234,4,892333573,60,603,0,0,0,0,0,...,False,False,False,True,False,False,False,False,False,0.803030
9232,746,4,885075367,25,550,0,1,0,0,0,...,False,False,False,False,False,False,False,False,False,0.272727
22039,773,2,888540063,20,96,0,1,0,0,0,...,False,False,False,False,False,False,True,False,False,0.196970
32263,899,3,884121572,32,228,0,1,1,0,0,...,False,True,False,False,False,False,False,False,False,0.378788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52458,23,5,874785809,30,171,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,0.348485
90573,815,3,878697043,32,623,0,0,0,0,1,...,False,True,False,False,False,False,False,False,False,0.378788
853,639,4,891238550,42,306,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,0.530303
58934,385,3,879443217,36,503,0,0,0,0,0,...,False,False,False,False,False,False,False,False,True,0.439394
69148,524,3,884634679,56,490,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,0.742424

In [6]:
from imblearn.over_sampling import SMOTE
# data balancing using SMOTE (Synthetic Minority Over-sampling Technique)
# 'X' is feature matrix and 'y' is target variable
smote = SMOTE(random_state=42)
y = train['rating']
train = train.drop(columns=['rating'], axis=1)
X = train
X_resampled, y_resampled = smote.fit_resample(X, y)

In [29]:
X_resampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136695 entries, 0 to 136694
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   user_id                   136695 non-null  int64
 1   timestamp                 136695 non-null  int64
 2   age                       136695 non-null  int64
 3   movie_id                  136695 non-null  int64
 4   unknown                   136695 non-null  int64
 5   Action                    136695 non-null  int64
 6   Adventure                 136695 non-null  int64
 7   Animation                 136695 non-null  int64
 8   Children                  136695 non-null  int64
 9   Comedy                    136695 non-null  int64
 10  Crime                     136695 non-null  int64
 11  Documentary               136695 non-null  int64
 12  Drama                     136695 non-null  int64
 13  Fantasy                   136695 non-null  int64
 14  Film_Noir                 136695 non-null  int64
 15  Horror                    136695 non-null  int64
 16  Musical                   136695 non-null  int64
 17  Mystery                   136695 non-null  int64
 18  Romance                   136695 non-null  int64
 19  Sci_Fi                    136695 non-null  int64
 20  Thriller                  136695 non-null  int64
 21  War                       136695 non-null  int64
 22  Western                   136695 non-null  int64
 23  release_unix              136695 non-null  float64
 24  gender_F                  136695 non-null  bool
 25  gender_M                  136695 non-null  bool
 26  occupation_administrator  136695 non-null  bool
 27  occupation_artist         136695 non-null  bool
 28  occupation_doctor         136695 non-null  bool
 29  occupation_educator       136695 non-null  bool
 30  occupation_engineer       136695 non-null  bool
 31  occupation_entertainment  136695 non-null  bool
 32  occupation_executive      136695 non-null  bool
 33  occupation_healthcare     136695 non-null  bool
 34  occupation_homemaker      136695 non-null  bool
 35  occupation_lawyer         136695 non-null  bool
 36  occupation_librarian      136695 non-null  bool
 37  occupation_marketing      136695 non-null  bool
 38  occupation_none           136695 non-null  bool
 39  occupation_other          136695 non-null  bool
 40  occupation_programmer     136695 non-null  bool
 41  occupation_retired        136695 non-null  bool
 42  occupation_salesman       136695 non-null  bool
 43  occupation_scientist      136695 non-null  bool
 44  occupation_student        136695 non-null  bool
 45  occupation_technician     136695 non-null  bool
 46  occupation_writer         136695 non-null  bool
 47  age_normalized            136695 non-null  float64
dtypes: bool(23), float64(2), int64(23)
memory usage: 29.1 MB

In [7]:
y_resampled = pd.DataFrame(y_resampled)

In [8]:
from tqdm import tqdm
import numpy as np

# Get a list of all movie IDs
all_movieIds = X_resampled['movie_id'].unique()

# Placeholders that will hold the training data
users, items, labels = [], [], []

# Threshold for positive interactions (e.g., ratings > 3)
positive_threshold = 3
num_negatives = 4
# This is the set of items that each user has interaction with
user_item_set = set(zip(X_resampled['user_id'], X_resampled['movie_id']))

for _, row in tqdm(X_resampled.iterrows()):
    user_id, movie_id, rating = row['user_id'], row['movie_id'], y_resampled.iloc[_][0]
    
    # Binarize the rating based on the threshold
    interaction_label = 1 if rating > positive_threshold else 0
    
    users.append(user_id)
    items.append(movie_id)
    labels.append(interaction_label)
    
    if interaction_label == 1:  # Positive interaction
        for _ in range(num_negatives):
            # Randomly select a negative item
            negative_item = np.random.choice(all_movieIds)
            # Check that the user has not interacted with this item
            while (user_id, negative_item) in user_item_set:
                negative_item = np.random.choice(all_movieIds)
            users.append(user_id)
            items.append(negative_item)
            labels.append(0)  # Negative interaction

136695it [00:11, 12082.87it/s]

In [9]:
train['rating'] = y_resampled

In [24]:
train['rank_latest'] = train.groupby(['user_id'])['timestamp'] \
                                .rank(method='first', ascending=False)
test['rank_latest'] = test.groupby(['user_id'])['timestamp'] \
                                .rank(method='first', ascending=False)
train_ratings = train[train['rank_latest'] != 1]
test_ratings = test[test['rank_latest'] == 1]

# drop columns that we no longer need
train_ratings = train_ratings[['user_id', 'movie_id', 'rating']]
test_ratings = test_ratings[['user_id', 'movie_id', 'rating']]

In [33]:
test_ratings.to_csv('../benchmark/data.csv', index=False)

In [25]:
from torch.utils.data import Dataset
import torch

class MovieLensTrainDataset(Dataset):
    """MovieLens PyTorch Dataset for Training
    
    Args:
        ratings (pd.DataFrame): Dataframe containing the movie ratings
        all_movieIds (list): List containing all movieIds
    
    """

    def __init__(self, ratings, all_movieIds):
        self.users, self.items, self.labels = self.get_dataset(ratings, all_movieIds)

    def __len__(self):
        return len(self.users)
  
    def __getitem__(self, idx):
        return self.users[idx], self.items[idx], self.labels[idx]

    def get_dataset(self, ratings, all_movieIds):
        # Threshold for positive interactions (e.g., ratings > 3)
        positive_threshold = 3
        num_negatives = 4
        # This is the set of items that each user has interaction with
        user_item_set = set(zip(X_resampled['user_id'], X_resampled['movie_id']))
        
        for _, row in tqdm(X_resampled.iterrows()):
            user_id, movie_id, rating = row['user_id'], row['movie_id'], y_resampled.iloc[_][0]
            
            # Binarize the rating based on the threshold
            interaction_label = 1 if rating > positive_threshold else 0
            
            users.append(user_id)
            items.append(movie_id)
            labels.append(interaction_label)
            
            if interaction_label == 1:  # Positive interaction
                for _ in range(num_negatives):
                    # Randomly select a negative item
                    negative_item = np.random.choice(all_movieIds)
                    # Check that the user has not interacted with this item
                    while (user_id, negative_item) in user_item_set:
                        negative_item = np.random.choice(all_movieIds)
                    users.append(user_id)
                    items.append(negative_item)
                    labels.append(0)  # Negative interaction
    
        return torch.tensor(users), torch.tensor(items), torch.tensor(labels)

In [26]:
from torch.utils.data import DataLoader
import pytorch_lightning as pl
from torch import nn

class NCF(pl.LightningModule):
    """ Neural Collaborative Filtering (NCF)
    
        Args:
            num_users (int): Number of unique users
            num_items (int): Number of unique items
            ratings (pd.DataFrame): Dataframe containing the movie ratings for training
            all_movieIds (list): List containing all movieIds (train + test)
    """
    
    def __init__(self, num_users, num_items, ratings, all_movieIds):
        super().__init__()
        self.user_embedding = nn.Embedding(num_embeddings=num_users, embedding_dim=8)
        self.item_embedding = nn.Embedding(num_embeddings=num_items, embedding_dim=8)
        self.fc1 = nn.Linear(in_features=16, out_features=64)
        self.fc2 = nn.Linear(in_features=64, out_features=32)
        self.output = nn.Linear(in_features=32, out_features=1)
        self.ratings = ratings
        self.all_movieIds = all_movieIds
        
    def forward(self, user_input, item_input):
        
        # Pass through embedding layers
        user_embedded = self.user_embedding(user_input)
        item_embedded = self.item_embedding(item_input)

        # Concat the two embedding layers
        vector = torch.cat([user_embedded, item_embedded], dim=-1)

        # Pass through dense layer
        vector = nn.ReLU()(self.fc1(vector))
        vector = nn.ReLU()(self.fc2(vector))

        # Output layer
        pred = nn.Sigmoid()(self.output(vector))

        return pred
    
    def training_step(self, batch, batch_idx):
        user_input, item_input, labels = batch
        predicted_labels = self(user_input, item_input)
        loss = nn.BCELoss()(predicted_labels, labels.view(-1, 1).float())
        return loss

    def configure_optimizers(self):
        return torch.optim.Adam(self.parameters())

    def train_dataloader(self):
        return DataLoader(MovieLensTrainDataset(self.ratings, self.all_movieIds),
                          batch_size=512, num_workers=4)

In [27]:
num_users = X_resampled['user_id'].max()+1
num_items = X_resampled['movie_id'].max()+1

all_movieIds = X_resampled['movie_id'].unique()

model = NCF(num_users, num_items, train_ratings, all_movieIds)

In [28]:
trainer = pl.Trainer(max_epochs=10)
trainer.fit(model)

GPU available: False, used: False
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs

  | Name           | Type      | Params
---------------------------------------------
0 | user_embedding | Embedding | 7.6 K
1 | item_embedding | Embedding | 13.5 K
2 | fc1            | Linear    | 1.1 K
3 | fc2            | Linear    | 2.1 K
4 | output         | Linear    | 33
---------------------------------------------
24.2 K    Trainable params
0         Non-trainable params
24.2 K    Total params
0.097     Total estimated model params size (MB)
136695it [00:11, 11749.37it/s]

Training: |          | 0/? [00:00<?, ?it/s]

`Trainer.fit` stopped: `max_epochs=10` reached.

In [29]:
# User-item pairs for testing
test_user_item_set = set(zip(test_ratings['user_id'], test_ratings['movie_id']))

# Dict of all items that are interacted with by each user
user_interacted_items = df.groupby('user_id')['movie_id'].apply(list).to_dict()

hits = []
for (u,i) in tqdm(test_user_item_set):
    interacted_items = user_interacted_items[u]
    not_interacted_items = set(all_movieIds) - set(interacted_items)
    selected_not_interacted = list(np.random.choice(list(not_interacted_items), 99))
    test_items = selected_not_interacted + [i]
    
    predicted_labels = np.squeeze(model(torch.tensor([u]*100), 
                                        torch.tensor(test_items)).detach().numpy())
    
    top10_items = [test_items[i] for i in np.argsort(predicted_labels)[::-1][0:10].tolist()]
    
    if i in top10_items:
        hits.append(1)
    else:
        hits.append(0)
        
print("The Hit Ratio @ 10 is {:.2f}".format(np.average(hits)))

100%|██████████| 943/943 [00:00<00:00, 2103.62it/s]

The Hit Ratio @ 10 is 0.37